<!-- Hiệu ứng sóng ngăn cách -->
<div class="footer-wave">
  <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#D90429" fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,160C320,160,400,128,480,128C560,128,640,160,720,165.3C800,171,880,149,960,128C1040,107,1120,85,1200,106.7C1280,128,1360,192,1400,224L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
  </svg>
</div>
<footer id="footer" class="footer-nguho-red pt-5">
  <div class="container">
    <div class="row gy-4">
      <!-- Cột 1 -->
      <div class="col-md-4">
        <a href="#" class="footer-brand-link">
          <h2 class="footer-brand-text"><em style="font-style: italic;">PHAICHIU</em></h2>
          <p class="brand-tagline">Kết nối công nghệ – Phục vụ tận tâm</p>
        </a>
        <ul class="footer-contact list-unstyled mt-3">
          <li><i class="fa fa-phone footer-icon"></i> Tổng đài miễn phí: <a href="tel:0123456789">0123 456 789</a></li>
          <li><i class="fa fa-envelope footer-icon"></i> Email: <a href="mailto:your-email@gmail.com">88888888@gmail.com</a></li>
          <li><i class="fa fa-clock footer-icon"></i> Thời gian phục vụ: <b>08:00 – 21:00</b> ( Hằng ngày )</li>
        </ul>


      </div>

      <!-- Cột 2 -->
      <div class="col-md-4">
        <h3 class="footer-heading">THÔNG TIN HỖ TRỢ</h3>
        <ul class="footer-links list-unstyled">
          <li><a href="#">Tin tức công nghệ</a></li>
          <li><a href="#">Thủ thuật sửa chữa</a></li>
          <li><a href="#">Chính sách bảo hành</a></li>
          <li><a href="#">Liên hệ với chúng tôi</a></li>
          <li><a href="#">Khách hàng doanh nghiệp</a></li>
          <li><a href="#">Kiểm tra bảo hành</a></li>
        </ul>
      </div>

      <!-- Cột 3 -->
      <div class="col-md-4">
        <h3 class="footer-heading">NHẬN TIN KHUYẾN MÃI</h3>
        <p>Đăng ký để nhận thông tin ưu đãi và sản phẩm mới sớm nhất.</p>
        <form class="newsletter-form">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Nhập email của bạn..." />
            <button class="btn btn-primary" type="submit">Đăng ký</button>
          </div>
        </form>
        <ul class="footer-links list-unstyled mt-3">
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Hợp tác kinh doanh</a></li>
          <li><a href="#">Giới thiệu <em style="font-style: italic;">PHAICHIU</em></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright-bar text-center py-3 mt-4">
    © 2025 <em style="font-style: italic;">PHAICHIU</em> - Dịch vụ sửa chữa & phân phối điện thoại chính hãng.<br />
    GPDKKD: 8888 do Sở KH & ĐT TP.Hà Nội cấp ngày 20/10/2025<br />
    Địa chỉ: Phường Mộ Lao, Quận Hà Đông, TP Hà Nội - Hotline: 0123 456 789 - Email: 88888888@gmail.com
  </div>
</footer>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
<link rel="stylesheet" href="./assets/css/footer.css" />
