<footer id="footer" class="footer bg-light pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>HỆ THỐNG CỬA HÀNG</h2>
                <ul class="colum1">
                    <li>
                        Tổng đài miễn phí:
                        <a href="tel:0123456789">0123456789</a>
                    </li>
                    <li>
                        Email:
                        <a href="mailto:your-email@gmail.com"
                            >your-email@gmail.com</a
                        >
                    </li>
                    <li>
                        Thời gian phục vụ: <b>08:00 – 21:00</b> hàng
                        ngày (cả Chủ nhật &amp; ngày lễ)
                    </li>
                    <li class="block1">
                        <a href="#"
                            >Tìm đến cửa hàng FunPhone gần nhất</a
                        >
                    </li>
                    <li class="block2">
                        <a href="#">Dịch vụ cho khách hàng ở xa</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>THÔNG TIN HỖ TRỢ</h2>
                <ul id="" class="">
                    <li id="" class="">
                        <a href="#">Tin tức công nghệ</a>
                    </li>
                    <li><a href="#">Thủ thuật sửa chữa</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Liên hệ với chúng tôi</a></li>
                    <li><a href="#">Khách hàng Doanh nghiệp</a></li>
                    <li><a href="#">Kiểm tra bảo hành</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
                <ul id="" class="">
                    <li id="" class="">
                        <a href="#">Sơ đồ Website</a>
                    </li>
                    <li id="" class=""><a href="#">Khuyến mại</a></li>
                    <li id="" class=""><a href="#">Tuyển dụng</a></li>
                    <li id="" class="">
                        <a href="#">Dạy nghề sửa chữa</a>
                    </li>
                    <li id="" class="">
                        <a href="#">Giới thiệu FunPhone</a>
                    </li>
                    <li id="" class="">
                        <a href="#">Hợp tác kinh doanh</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr container-fluid" />
    <div class="container">
        <div class="row lastfooter">
            <div
                class="col-md-12 absolute-footer light medium-text-center text-center"
            >
                Bản quyền 2025 - © Dịch vụ sửa chữa FunPhone - GPDKKD:
                xxx do sở KH &amp; ĐT TP.HCM cấp ngày xx/xx/xxxx
                <br />
                Địa chỉ: quận 1, TP Hồ Chí Minh - Điện thoại: 0123456789
                - Email: your-email@gmail.com
            </div>
        </div>
    </div>
    <hr class="hr container-fluid" />
</footer>