/* PC */
@media screen and (min-width: 992px) {
    .header-mobile,
    #sidebar_toggle,
    #sidebar_close {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .brand__group-logo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .brand__img {
        height: 50px;
    }

    .offset-0 {
        margin-left: 0;
    }

    .responsivve-none {
        display: none;
    }

    .features__img {
        border: 2px solid red;
        border-radius: 50%;
    }

    .sidebar {
        display: none;
    }
    #title-page,
    .item-content {
        margin-left: 10px;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header__content {
        margin-left: -30px;
    }

    .header-icon {
        font-size: 20px;
    }

    .header__item,
    .subheader {
        padding-right: 11px;
        font-size: 12px;
    }

    .subheader {
        margin-left: 5px;
    }

    .features__title {
        text-wrap: nowrap;
        font-size: 1.3rem;
    }

    .features__desc {
        font-size: 1.2rem;
    }

    .header-mobile {
        display: none;
    }

    .product__list {
        padding-left: 8px;
    }

    .product__item {
        width: 31.5%;
    }

    .product__price {
        margin-top: 15px;
    }

    .nav-breadcrumb {
        padding-left: 55px;
    }

    .groupbtn__cart .fa-shopping-cart {
        font-size: 2em !important;
    }

    .rate {
        width: 85%;
    }

    .sub-menu {
        right: 0;              /* align to trigger right edge */
        left: auto;
        top: calc(100% + 6px); /* small gap below trigger */
        min-width: 220px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .header-pc {
        display: none;
    }

    .header__content {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    .brand__img {
        width: 70px;
        object-fit: contain;
        height: 40px;
    }

    .features__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .features__item {
        width: 100%;
        padding: 0;
    }

    .features__img {
        width: 90px;
    }

    .mobile-none {
        display: none;
    }

    .product__item {
        width: 47%;
    }

    .product__media-img {
        width: 150px;
        height: 150px;
    }

    .product__media-note p:first-child {
        top: 111px;
    }

    .product__media-note p:last-child {
        top: 135px;
    }

    .product__info {
        margin-top: -17px;
    }

    textarea {
        width: 20em;
    }

    .nav-breadcrumb {
        top: 102px;
        padding-left: 8px;
        font-size: 11px;
    }

    .info {
        margin-top: 55px;
    }

    .info__left-list {
        display: none;
    }

    .form {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .cart-main {
        margin-top: 100px;
    }

    .booking {
        width: auto;
    }

    .cart__totle-money {
        display: none;
    }

    .total-cost .groupbtn__order {
        min-width: 100px;
        height: 50px;
    }

    #tab-products .product__media-img {
        max-width: 135px;
        object-fit: cover;
    }

    .product-item {
        width: 45%;
        padding: 10px 1px;
    }

    .sub-menu {
        right: 12px;             /* keep a small gutter */
        left: 12px;              /* span nearly full width */
        top: calc(100% + 6px);
        width: auto;
        min-width: 0;
        max-width: none;
    }
}
